In [73]:
import pandas as pd
import re

In [74]:
pd.set_option('display.max_colwidth', None)
column_names = ['target', 'ids', 'date', 'flag', 'user', 'text']

df = pd.read_csv('../Data/Twitter/data.csv', encoding = 'latin1', header=None, names=column_names)
df

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best feeling ever
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interviews! â« http://blip.fm/~8bmta
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me for details
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [75]:
drop_columns = ['ids', 'date', 'flag', 'user']
df.drop(columns=drop_columns, axis=1, inplace=True)
df.rename(columns={'target':'label'}, inplace=True)
df['label'].replace({4:1},inplace=True)
df

,label,text
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,my whole body feels itchy and like its on fire
4,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
...,...,...
1599995,1,Just woke up. Having no school is the best feeling ever
1599996,1,TheWDB.com - Very cool to hear old Walt interviews! â« http://blip.fm/~8bmta
1599997,1,Are you ready for your MoJo Makeover? Ask me for details
1599998,1,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur
1599999,1,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [76]:
# Remove urls
url_pattern = re.compile(r'https?://\S+|www\.\S+|\b\w+\.com\b|\b\w+\.org\b')
df['text'] = df['text'].apply(lambda x: url_pattern.sub('', x))
df

,label,text
0,0,"@switchfoot - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,my whole body feels itchy and like its on fire
4,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
...,...,...
1599995,1,Just woke up. Having no school is the best feeling ever
1599996,1,- Very cool to hear old Walt interviews! â«
1599997,1,Are you ready for your MoJo Makeover? Ask me for details
1599998,1,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur
1599999,1,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [77]:
#removing usernames
username_pattern = re.compile(r'@\w+')
df['text'] = df['text'].apply(lambda x: username_pattern.sub('', x))
df

,label,text
0,0,"- Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,my whole body feels itchy and like its on fire
4,0,"no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
...,...,...
1599995,1,Just woke up. Having no school is the best feeling ever
1599996,1,- Very cool to hear old Walt interviews! â«
1599997,1,Are you ready for your MoJo Makeover? Ask me for details
1599998,1,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur
1599999,1,happy #charitytuesday

In [78]:
df_small = df.groupby('label', group_keys=False).apply(lambda x: x.sample(10000))

In [79]:
df_small.to_csv('../Data/Twitter/cleaned_data.csv', index=False)
df_small['label'].value_counts

<bound method IndexOpsMixin.value_counts of 320429     0
46791      0
221969     0
150785     0
470014     0
          ..
1514388    1
1428590    1
888669     1
1507156    1
974707     1
Name: label, Length: 20000, dtype: int64>

In [80]:
df_new = df = pd.read_csv('../Data/Twitter/cleaned_data.csv')
df_new

,label,text
0,0,I miss you I wish it was the 18th already!
1,0,i think i'm confused and worried - need a strong coffee and a smoke! will venture back to twitterverse later - is it all my fault? OMG
2,0,"unfortunately no shoot today, my friend is busy"
3,0,is going to work. I dont feel very well today.
4,0,My phone was dying and it beeped at 4 am. Couldn't get back to sleep. This sucks
...,...,...
19995,1,It's the little things in life which makes it so enjoyable
19996,1,girlllllllllls just wanna have fun!
19997,1,I wish that was true we shall do it later
19998,1,- soo beautiful demi returns to Chile!! we love you
19999,1,"it was so beautiful out today, I didn't mind the traffic. plus I had just scored a new blanket for nothing!"